.section-bg-body {
    background-color:#032741;
    height: 200px;
    width: 100%;
    padding: 20px;
    padding-left: 35px;
}
.section-bg-body .section-title-mobile {
    margin-top: 20px;
}
.section-bg-body .bullet {
    width: 7px;
    height: 7px;
    background: #FED206;
    margin-right: 10px;
    border-radius: 50%;
}
.section-bg-body h4.title {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 0;
    color: #fff;
}
.section-organisasi {
    padding-top: 30px;
    padding-bottom: 35px;
    background-color: #F2F2F2;
}

@media (max-width: 575.98px) {
    .section-organisasi {
        /* padding-top: 0; */
        margin-top:40px;
    }
    .section-organisasi .section-organisasi-box {
        padding: 15px !important;
        margin-top: -170px;
    }
    .section-organisasi .section-organisasi-box .section-organisasi-list .section-organisasi-list-header {
        height: 60px;
        border-radius: 12px;
    }
    .section-organisasi .section-organisasi-box .section-organisasi-list .section-organisasi-list-header .section-organisasi-list-header-image {
        top: 0px !important;
    }
    .section-organisasi .section-organisasi-box .section-organisasi-list .section-organisasi-list-header .section-organisasi-list-header-image img {
        width: 78px !important;
        height: 78px !important;
    }
    .section-organisasi .section-organisasi-box .section-organisasi-list .section-organisasi-list-header .section-organisasi-list-header-text h2 {
        font-size: 17px !important;
    }
    .section-organisasi .section-organisasi-box .section-organisasi-list .section-organisasi-list-header .section-organisasi-list-header-text p {
        font-size: 8px;
    }
    .section-organisasi .section-organisasi-box .section-organisasi-list .section-organisasi-list-body {
        padding: 20px;
        padding-top: 50px !important;
        height: 357px;
        border-radius: 12px;
    }
    .section-organisasi .section-organisasi-box .section-organisasi-list .section-organisasi-list-body .show {
        padding-top: 60px !important;
        transition: ease-out .1s;
    }
    .section-organisasi .section-organisasi-box .section-organisasi-list .section-organisasi-list-body .section-organisasi-list-body-scroll {
        overflow-y: auto !important;
    }
    .section-organisasi .section-organisasi-box .section-organisasi-list .section-organisasi-list-body.mobile {
        height: auto;
    }
    .section-organisasi .section-organisasi-box .section-organisasi-list .section-organisasi-list-body .section-organisasi-list-body-scroll {
        height: 244px;
    }
    .section-organisasi .section-organisasi-box .section-organisasi-list .section-organisasi-list-body.mobile .section-organisasi-list-body-scroll{
        height: auto;
    }
    .section-organisasi .section-organisasi-box .section-organisasi-list .section-organisasi-list-body .section-organisasi-list-body-scroll ul li {
        font-size: 10px;
    }
    .section-organisasi .section-organisasi-box .section-organisasi-content{
        padding: 0;
    }
    .section-organisasi .section-organisasi-box .section-organisasi-content .section-organisasi-content-header {
        display: flex;
        flex-direction: column;
    }
    .section-organisasi .section-organisasi-box .section-organisasi-content .section-organisasi-content-header .section-organisasi-content-header-menu {
        margin-top: 10px;
        display: flex;
    }
}

.section-organisasi .section-organisasi-box {
    background-color: white;
    padding: 35px;
    border-radius: 20px;
    margin-top: -170px;
}

.section-organisasi .section-organisasi-box .section-organisasi-list {
    position: relative;
}

.section-organisasi .section-organisasi-box .section-organisasi-list .section-organisasi-list-header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 90px;
    z-index: 3;
    border-radius: 16px;
    background-color: #032741;
    background-image: url("../../../images/containers/container-2.webp");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}


.section-organisasi .section-organisasi-box .section-organisasi-list .section-organisasi-list-header .section-organisasi-list-header-image {
    position: absolute;
    top: -40px;
    margin-left: 20px;
}

.section-organisasi .section-organisasi-box .section-organisasi-list .section-organisasi-list-header .section-organisasi-list-header-image img {
    width: 110px;
    height: 110px;
}

.section-organisasi .section-organisasi-box .section-organisasi-list .section-organisasi-list-header .section-organisasi-list-header-text {
    color: white;
}

.section-organisasi .section-organisasi-box .section-organisasi-list .section-organisasi-list-header .section-organisasi-list-header-text h2 {
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 0;
}

.section-organisasi .section-organisasi-box .section-organisasi-list .section-organisasi-list-header .section-organisasi-list-header-text p {
    font-size: 12px;
    font-style: italic;
    margin-bottom: 0;
}

.section-organisasi .section-organisasi-box .section-organisasi-list .section-organisasi-list-body {
    position: relative;
    z-index: 2;
    background-color: #F2F2F2;
    height: 518px;
    border-radius: 16px;
    padding: 30px;
    padding-top: 110px;
}
.section-organisasi .section-organisasi-box .section-organisasi-list .section-organisasi-list-body.mobile {
    height: auto;
}

.section-organisasi .section-organisasi-box .section-organisasi-list .section-organisasi-list-body .section-organisasi-list-body-scroll {
    overflow-y: scroll;
    height: 375px;
}
.section-organisasi .section-organisasi-box .section-organisasi-list .section-organisasi-list-body.mobile .section-organisasi-list-body-scroll {
    height: auto;
}


.section-organisasi .section-organisasi-box .section-organisasi-list .section-organisasi-list-body .section-organisasi-list-body-scroll ul {
    position: relative;
    list-style: none;
    padding: 0 30px;
    margin-bottom: 0;
}

.section-organisasi .section-organisasi-box .section-organisasi-list .section-organisasi-list-body .section-organisasi-list-body-scroll ul li {
    font-size: 15px;
    padding: 12px 0;
    border-bottom: 1px solid #CECECE;
}


.section-organisasi .section-organisasi-box .section-organisasi-list .section-organisasi-list-body .section-organisasi-list-body-scroll ul li button {
    background-color: none;
    border: none;
    padding: 0;
    text-align: left;
}

.section-organisasi .section-organisasi-box .section-organisasi-list .section-organisasi-list-body .section-organisasi-list-body-scroll ul li.active {
    font-weight: bold;
}

.section-organisasi .section-organisasi-box .section-organisasi-list .section-organisasi-list-body .section-organisasi-list-body-scroll ul li.active button {
    font-weight: bold;
}

.section-organisasi .section-organisasi-box .section-organisasi-list .section-organisasi-list-body .section-organisasi-list-body-scroll ul li.active::before {
    content: "•";
    position: absolute;
    left: 4px;
    /* Posisikan dot di sebelah kiri li */
    color: black;
    /* Warna dot */
}

.section-organisasi .section-organisasi-box .section-organisasi-list .section-organisasi-list-body .section-organisasi-list-body-scroll ul li:first-child {
    padding-top: 0;
}

.section-organisasi .section-organisasi-box .section-organisasi-list .section-organisasi-list-body .section-organisasi-list-body-scroll ul li:last-child {
    padding-bottom: 0;
    border: none;
}

.section-organisasi .section-organisasi-box .section-organisasi-content .section-organisasi-content-header {
    padding-top: 25px;
    padding-bottom: 16px;
    border-bottom: 1px solid #CECECE;
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.section-organisasi .section-organisasi-box .section-organisasi-content .section-organisasi-content-header .section-organisasi-content-header-menu .btn-menu{
    background-color: #fff;
    color: #032741;
    border-radius: 20px;
    font-size: 13px;
    padding: 5px 20px;
    border: 1px solid #032741;
    margin: 0 1px;
}

.section-organisasi .section-organisasi-box .section-organisasi-content .section-organisasi-content-header .section-organisasi-content-header-menu .btn-menu.active{
    background-color: #032741;
    color: #FED206;
    font-weight: 700;
}
.section-organisasi .section-organisasi-box .section-organisasi-content .section-organisasi-content-header .bullet{
    width: 7px;
    height: 7px;
    background: #FED206;
    margin-right: 10px;
    border-radius: 50%;
}

.section-organisasi .section-organisasi-box .section-organisasi-content .section-organisasi-content-header h4 {
    font-size: 19px;
    font-weight: bold;
    margin-bottom: 0;
}

/* card profile bagan */
.section-organisasi .section-organisasi-box .section-organisasi-content .section-organisasi-content-body .card-profile{
    padding: 10px;
    border-radius: 10px;
    border: 1px solid #CECECE;
    display: flex;
    margin: 15px 0;
}

.section-organisasi .section-organisasi-box .section-organisasi-content .section-organisasi-content-body .card-profile .card-profile-image{
    width: 120px;
    height: 150px;
    margin-right: 20px;
}
.section-organisasi .section-organisasi-box .section-organisasi-content .section-organisasi-content-body .card-profile .card-profile-image img.profile-img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.section-organisasi .section-organisasi-box .section-organisasi-content .section-organisasi-content-body .card-profile p {
    margin: 0;
    font-size: 14px;
    line-height: 1;
}
.section-organisasi .section-organisasi-box .section-organisasi-content .section-organisasi-content-body .card-profile .card-profile-biodata {
    margin-top: 20px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.section-organisasi .section-organisasi-box .section-organisasi-content .section-organisasi-content-body .card-profile .card-profile-biodata p.profile-name {
    font-weight: 700;
    font-size: 18px;
}
.section-organisasi .section-organisasi-box .section-organisasi-content .section-organisasi-content-body .card-profile .card-profile-biodata .card-profile-bottom {
    margin-bottom: 0;
    display: flex;
    justify-content: flex-end;
    padding-top: 20px;
}
.section-organisasi .section-organisasi-box .section-organisasi-content .section-organisasi-content-body .card-profile .card-profile-biodata .card-profile-bottom .btn-download {
    background-color: #FED206;
    color: black;
    padding: 4px 12px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 10px;
    font-weight: bold;
    text-decoration: none;
    cursor: pointer;
}

/* card struktur */
.section-organisasi .section-organisasi-box .section-organisasi-content .section-organisasi-content-body .card-struktur {
    background-color: #fff;
    border-radius: 20px;
    padding: 15px;
    color: #000;
}
.section-organisasi .section-organisasi-box .section-organisasi-content .section-organisasi-content-body .card-struktur.bg-gelap {
    background-color: #032741;
    color: #fff;
}
.section-organisasi .section-organisasi-box .section-organisasi-content .section-organisasi-content-body .card-struktur img {
    width: 100%;
    border-radius: 20px;
}
.section-organisasi .section-organisasi-box .section-organisasi-content .section-organisasi-content-body .card-struktur .item-produk-hukum .border-bottom {
    border-bottom: 1px solid #CECECE;
    margin-bottom: 15px;
}