.section-bg-body {
    background-color: #032741;
    height: 200px;
    width: 100%;
}

.section-publikasi {
    padding-top: 30px;
    padding-bottom: 35px;
    background-color: #F2F2F2;
}

.section-publikasi .container-publikasi {
    margin-top: -170px;
    padding-top: 10
}

.section-publikasi .bullet {
    width: 7px;
    height: 7px;
    background: #FED206;
    margin-right: 10px;
    border-radius: 50%;
}

.section-publikasi .section-publikasi-header {
    margin-bottom: 20px;
    color: #fff;
    display: flex;
    justify-content: center;
}

.section-publikasi .section-publikasi-box {
    background-color: white;
    padding: 35px;
    border-radius: 20px;
}

.section-publikasi .section-publikasi-box .section-publikasi-header {
    padding-bottom: 16px;
    border-bottom: 1px solid #CECECE;
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.section-publikasi .section-publikasi-box .section-publikasi-header .section-publikasi-menu a {
    color: #000;
    cursor: pointer;
    text-decoration: none;
    padding: 0 10px;
}

.section-publikasi .section-publikasi-box .section-publikasi-header .section-publikasi-menu a.active {
    font-weight: 700;
}

.section-publikasi .section-publikasi-box .row-content {
    padding-bottom: 25px;
    border-bottom: 1px solid #CECECE;
}

.section-publikasi .card-content {
    background-color: #F4F4F4;
    padding: 25px;
    border-radius: 20px;
    margin: 10px 0;
}
.section-publikasi .card-content.bg-gelap {
    background-color: #032741;
    color: #fff;
}

.section-publikasi .card-content img.content-image {
    width: 100%;
    border-radius: 20px;
    height: 135px;
    object-fit: cover;
}
.section-publikasi .card-content img.content-image.contain {
    object-fit: contain;
}

.section-publikasi .card-content p {
    margin: 0;
}

.section-publikasi .card-content .content-title {
    font-size: 14px;
    margin: 0;
    font-weight: 700;
    padding-top: 5px;
    padding-bottom: 10px;
}

.section-publikasi .card-content p.content-published,
.section-publikasi .card-content p.content-author {
    font-size: 10px;
}

.section-publikasi .card-content p.content-description {
    font-size: 12px;
}

.section-publikasi .card-content .col-content {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

.section-publikasi .card-content .col-content a {
    /* text-align: right; */
}
.section-publikasi .card-content .col-content a.title {
    color: inherit;
    text-decoration: none;
}

.text-input-custom {
    background-color: transparent;
    border: 1px solid #CECECE;
    padding: 7px 25px;
    border-radius: 20px;
}


@media (max-width: 767px) {
    .section-publikasi  .section-publikasi-header {
        justify-content: space-between;
    }
    .section-publikasi .section-publikasi-box .section-publikasi-header .section-publikasi-menu {
        width: 100%;
        display: flex;
        justify-content: space-between;
    }
    
    .section-publikasi .card-content {
        padding: 12px;
        border-radius: 10px;
    }
    .section-publikasi .card-content img.content-image {
        height: 86px;
        border-radius: 10px;
    }
    .text-input-custom {
        border: 1px solid #fff;
        color: #fff;
    }
    .btn-selengkapnya {
        font-size: 8px !important;
    }
}