.section-bg-body {
    background-color:#032741;
    height: 200px;
    width: 100%;
    padding: 20px;
    padding-left: 35px;
}
.section-bg-body .section-title-mobile {
    margin-top: 20px;
}
.section-bg-body .bullet {
    width: 7px;
    height: 7px;
    background: #FED206;
    margin-right: 10px;
    border-radius: 50%;
}
.section-bg-body h4.title {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 0;
    color: #fff;
}
.section-ragam-unduh {
    padding-top: 30px;
    padding-bottom: 35px;
    background-color: #F2F2F2;
}

@media (max-width: 767px) {
    .section-ragam-unduh {
        /* padding-top: 0; */
        margin-top:40px;
    }
    .section-ragam-unduh .section-ragam-unduh-box {
        padding: 15px !important;
        margin-top: -170px;
    }
    .section-ragam-unduh .section-ragam-unduh-box .section-ragam-unduh-list .section-ragam-unduh-list-header {
        height: 60px;
        border-radius: 12px;
    }
    .section-ragam-unduh .section-ragam-unduh-box .section-ragam-unduh-list .section-ragam-unduh-list-header .section-ragam-unduh-list-header-image {
        top: -24px;
    }
    .section-ragam-unduh .section-ragam-unduh-box .section-ragam-unduh-list .section-ragam-unduh-list-header .section-ragam-unduh-list-header-image img {
        width: 78px;
        height: 78px;
    }
    .section-ragam-unduh .section-ragam-unduh-box .section-ragam-unduh-list .section-ragam-unduh-list-header .section-ragam-unduh-list-header-text h2 {
        font-size: 12px !important;
    }
    .section-ragam-unduh .section-ragam-unduh-box .section-ragam-unduh-list .section-ragam-unduh-list-header .section-ragam-unduh-list-header-text p {
        font-size: 8px;
    }
    .section-ragam-unduh .section-ragam-unduh-box .section-ragam-unduh-list .section-ragam-unduh-list-body {
        padding: 20px;
        padding-top: 50px !important;
        height: 357px;
        border-radius: 12px;
        /* padding-top: 0px !important; */
    }
    .section-ragam-unduh .section-ragam-unduh-box .section-ragam-unduh-list .section-ragam-unduh-list-body .show {
        padding-top: 60px !important;
        transition: ease-out .1s;
    }
    .section-ragam-unduh .section-ragam-unduh-box .section-ragam-unduh-list .section-ragam-unduh-list-body .section-ragam-unduh-list-body-scroll {
        overflow-y: auto !important;
    }
    .section-ragam-unduh .section-ragam-unduh-box .section-ragam-unduh-list .section-ragam-unduh-list-body.mobile {
        height: auto;
    }
    .section-ragam-unduh .section-ragam-unduh-box .section-ragam-unduh-list .section-ragam-unduh-list-body .section-ragam-unduh-list-body-scroll {
        height: 244px;
    }
    .section-ragam-unduh .section-ragam-unduh-box .section-ragam-unduh-list .section-ragam-unduh-list-body.mobile .section-ragam-unduh-list-body-scroll{
        height: auto;
    }
    .section-ragam-unduh .section-ragam-unduh-box .section-ragam-unduh-list .section-ragam-unduh-list-body .section-ragam-unduh-list-body-scroll ul li {
        font-size: 20px;
    }
    .section-ragam-unduh .section-ragam-unduh-box .section-ragam-unduh-content {
        /* padding: 10px; */
    }
    .section-ragam-unduh .section-ragam-unduh-box .section-ragam-unduh-content .section-ragam-unduh-content-header {
        display: flex;
        flex-direction: column;
    }
    .section-ragam-unduh .section-ragam-unduh-box .section-ragam-unduh-content .section-ragam-unduh-content-header .section-ragam-unduh-content-header-menu {
        margin-top: 10px;
        display: flex;
    }
    
    .section-ragam-unduh .section-ragam-unduh-box .section-ragam-unduh-content .section-ragam-unduh-content-body .card-ragam-unduh { 
        display: flex;
        flex-wrap: wrap;
    }
    .section-ragam-unduh .section-ragam-unduh-box .section-ragam-unduh-content .section-ragam-unduh-content-body .card-ragam-unduh .section-btn-download { 
        width: 100%;
        display: flex;
        justify-content: end;
        margin-top: 5px;
    }
    
    .section-ragam-unduh .section-ragam-unduh-box .section-ragam-unduh-content .section-ragam-unduh-content-body .card-ragam-unduh .section-btn-download .btn-download {
        font-size: 8px;
    } 
    
    .section-ragam-unduh .section-ragam-unduh-box .section-ragam-unduh-content .section-ragam-unduh-content-body .card-ragam-unduh.card-video .wrapper-video { 
        /* display: flex;
        flex-wrap: nowrap;
        align-items: center; */
    }
    
    .section-ragam-unduh .section-ragam-unduh-box .section-ragam-unduh-content .section-ragam-unduh-content-body .card-ragam-unduh.card-video .wrapper-video iframe {
        width: 190px;
        height: 130px;
    } 
    .section-ragam-unduh .section-ragam-unduh-box .section-ragam-unduh-content .section-ragam-unduh-content-body .card-ragam-unduh.card-video .wrapper-video h5{ 
        font-size: 16px;
    } 
}

.section-ragam-unduh .section-ragam-unduh-box {
    background-color: white;
    padding: 35px;
    border-radius: 20px;
    margin-top: -170px;
}

.section-ragam-unduh .section-ragam-unduh-box .section-ragam-unduh-list {
    position: relative;
}

.section-ragam-unduh .section-ragam-unduh-box .section-ragam-unduh-list .section-ragam-unduh-list-header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 90px;
    z-index: 3;
    border-radius: 16px;
    background-color: #032741;
    background-image: url("../../../images/containers/container-2.webp");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}


.section-ragam-unduh .section-ragam-unduh-box .section-ragam-unduh-list .section-ragam-unduh-list-header .section-ragam-unduh-list-header-image {
    position: absolute;
    top: -40px;
    margin-left: 20px;
}

.section-ragam-unduh .section-ragam-unduh-box .section-ragam-unduh-list .section-ragam-unduh-list-header .section-ragam-unduh-list-header-image img {
    width: 110px;
    height: 110px;
}

.section-ragam-unduh .section-ragam-unduh-box .section-ragam-unduh-list .section-ragam-unduh-list-header .section-ragam-unduh-list-header-text {
    color: white;
}

.section-ragam-unduh .section-ragam-unduh-box .section-ragam-unduh-list .section-ragam-unduh-list-header .section-ragam-unduh-list-header-text h2 {
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 0;
}

.section-ragam-unduh .section-ragam-unduh-box .section-ragam-unduh-list .section-ragam-unduh-list-header .section-ragam-unduh-list-header-text p {
    font-size: 12px;
    font-style: italic;
    margin-bottom: 0;
}

.section-ragam-unduh .section-ragam-unduh-box .section-ragam-unduh-list .section-ragam-unduh-list-body {
    position: relative;
    z-index: 2;
    background-color: #F2F2F2;
    /* height: 518px; */
    border-radius: 16px;
    padding: 30px;
    padding-top: 110px;
}
.section-ragam-unduh .section-ragam-unduh-box .section-ragam-unduh-list .section-ragam-unduh-list-body.mobile {
    height: auto;
}

.section-ragam-unduh .section-ragam-unduh-box .section-ragam-unduh-list .section-ragam-unduh-list-body .section-ragam-unduh-list-body-scroll {
    overflow-y: scroll;
    /* height: 375px; */
}
.section-ragam-unduh .section-ragam-unduh-box .section-ragam-unduh-list .section-ragam-unduh-list-body.mobile .section-ragam-unduh-list-body-scroll {
    height: auto;
}


.section-ragam-unduh .section-ragam-unduh-box .section-ragam-unduh-list .section-ragam-unduh-list-body .section-ragam-unduh-list-body-scroll ul {
    position: relative;
    list-style: none;
    padding: 0 30px;
    margin-bottom: 0;
}

.section-ragam-unduh .section-ragam-unduh-box .section-ragam-unduh-list .section-ragam-unduh-list-body .section-ragam-unduh-list-body-scroll ul li {
    font-size: 15px;
    padding: 12px 0;
    border-bottom: 1px solid #CECECE;
}


.section-ragam-unduh .section-ragam-unduh-box .section-ragam-unduh-list .section-ragam-unduh-list-body .section-ragam-unduh-list-body-scroll ul li button {
    background-color: none;
    border: none;
    padding: 0;
    text-align: left;
}

.section-ragam-unduh .section-ragam-unduh-box .section-ragam-unduh-list .section-ragam-unduh-list-body .section-ragam-unduh-list-body-scroll ul li.active {
    font-weight: bold;
}

.section-ragam-unduh .section-ragam-unduh-box .section-ragam-unduh-list .section-ragam-unduh-list-body .section-ragam-unduh-list-body-scroll ul li.active button {
    font-weight: bold;
}

.section-ragam-unduh .section-ragam-unduh-box .section-ragam-unduh-list .section-ragam-unduh-list-body .section-ragam-unduh-list-body-scroll ul li.active::before {
    content: "•";
    position: absolute;
    left: 4px;
    /* Posisikan dot di sebelah kiri li */
    color: black;
    /* Warna dot */
}

.section-ragam-unduh .section-ragam-unduh-box .section-ragam-unduh-list .section-ragam-unduh-list-body .section-ragam-unduh-list-body-scroll ul li:first-child {
    padding-top: 0;
}

.section-ragam-unduh .section-ragam-unduh-box .section-ragam-unduh-list .section-ragam-unduh-list-body .section-ragam-unduh-list-body-scroll ul li:last-child {
    padding-bottom: 0;
    border: none;
}

.section-ragam-unduh .section-ragam-unduh-box .section-ragam-unduh-content .section-ragam-unduh-content-header {
    padding-top: 25px;
    padding-bottom: 16px;
    border-bottom: 1px solid #CECECE;
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.section-ragam-unduh .section-ragam-unduh-box .section-ragam-unduh-content .section-ragam-unduh-content-header .bullet{
    width: 7px;
    height: 7px;
    background: #FED206;
    margin-right: 10px;
    border-radius: 50%;
}

.section-ragam-unduh .section-ragam-unduh-box .section-ragam-unduh-content .section-ragam-unduh-content-header h4 {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 0;
}

.section-ragam-unduh .section-ragam-unduh-box .section-ragam-unduh-content .section-ragam-unduh-content-header-menu {
    display: flex;
}

.section-ragam-unduh .section-ragam-unduh-box .section-ragam-unduh-content .section-ragam-unduh-content-body .card-ragam-unduh {
    padding: 15px;
    border-radius: 10px;
    border: 1px solid #CECECE;
    display: flex;
    align-items: center;
    margin: 3px 0;
}

/* card video */
.section-ragam-unduh .section-ragam-unduh-box .section-ragam-unduh-content .section-ragam-unduh-content-body .card-ragam-unduh.card-video { 
    padding: 15px;
    border-radius: 10px;
    border: 1px solid #CECECE;
    margin: 15px 0;
    width: 100%;
}
.section-ragam-unduh .section-ragam-unduh-box .section-ragam-unduh-content .section-ragam-unduh-content-body .card-ragam-unduh.card-video .wrapper-video {
    width: 100%;
} 
.section-ragam-unduh .section-ragam-unduh-box .section-ragam-unduh-content .section-ragam-unduh-content-body .card-ragam-unduh.card-video iframe{ 
    border-radius: 12px;
}
.section-ragam-unduh .section-ragam-unduh-box .section-ragam-unduh-content .section-ragam-unduh-content-body .card-ragam-unduh.card-video p.created-by {
    font-size: 12px;
} 

.section-ragam-unduh .section-ragam-unduh-box .section-ragam-unduh-content .section-ragam-unduh-content-body .card-ragam-unduh .content {
    border-left: 2px solid #00AFEF;
    margin-left: 12px;
    padding: 0 10px;
    font-weight: 700;
}

.section-ragam-unduh .section-ragam-unduh-box .section-ragam-unduh-content .section-ragam-unduh-content-body .card-ragam-unduh p {
    margin: 0;
    font-size: 14px;
    line-height: 1;
}
.section-ragam-unduh .section-ragam-unduh-box .section-ragam-unduh-content .section-ragam-unduh-content-body .card-ragam-unduh .btn-download {
    background-color: #FED206;
    color: black;
    padding: 4px 12px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 10px;
    font-weight: bold;
    text-decoration: none;
    cursor: pointer;
}

/* card struktur */
.section-ragam-unduh .section-ragam-unduh-box .section-ragam-unduh-content .section-ragam-unduh-content-body .card-struktur {
    background-color: #fff;
    border-radius: 20px;
    padding: 15px;
    color: #000;
}
.section-ragam-unduh .section-ragam-unduh-box .section-ragam-unduh-content .section-ragam-unduh-content-body .card-struktur.bg-gelap {
    background-color: #032741;
    color: #fff;
}
.section-ragam-unduh .section-ragam-unduh-box .section-ragam-unduh-content .section-ragam-unduh-content-body .card-struktur img {
    width: 100%;
    border-radius: 20px;
}
.section-ragam-unduh .section-ragam-unduh-box .section-ragam-unduh-content .section-ragam-unduh-content-body .card-struktur .item-produk-hukum .border-bottom {
    border-bottom: 1px solid #CECECE;
    margin-bottom: 15px;
}